---
default_name: 站点大全
default_motto: 精心，精业，精品
default_author: happy
default_desc: IT技术网址、企业网址、博客大全
default_theme: default
default_keywords: 热门网
assets_version: 2012011502
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% if page.title != null %}
        <title>{{page.title}} | {{ page.default_name }} - {{ page.default_desc }}</title>
        {% else %}
        <title> {{ page.default_name }} - {{ page.default_desc }}</title>
        {% endif %}

        {% if page.theme != null %}
        <link rel="stylesheet" href="/stylesheets/themes/{{ page.theme }}/kandytabs.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% else %}
        <link rel="stylesheet" href="/stylesheets/themes/{{ page.default_theme }}/kandytabs.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}
        
        <link rel="stylesheet" href="/stylesheets/share.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>

        {% if page.theme != null %}
        <link rel="stylesheet" href="/stylesheets/themes/{{ page.theme }}/daohang.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% else %}
        <link rel="stylesheet" href="/stylesheets/themes/{{ page.default_theme }}/daohang.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/kandytabs.pack.js"></script>
        <script src="/javascripts/share.js?version={{ page.assets_version }}"></script>

        {% if page.desc != null %}
        <meta name="description" content="{{ page.desc }}" /> 
        {% else %}
        <meta name="description" content="{{ page.default_desc }}" /> 
        {% endif %}

        {% if page.keywords != null %}
        <meta name="keywords" content="{{ page.keywords }}" /> 
        {% else %}
        <meta name="keywords" content="{{ page.default_keywords }}" /> 
        {% endif %}

        <script type="text/javascript">
            $(function() {
                $(".tab-common").KandyTabs();
                $(".tab-main").KandyTabs();
            });

        </script>
        <style type="text/css">
            .tab-common ul {
                padding: 0px;
                font-size: 13px;
            }
            .tab-common ul li {
                float: left;
                height: 26px;
                overflow: hidden;
                padding: 0 0 0 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100px;
            }
        </style>
        
        <base target="_blank"></base>
    </head>
    <body>
        <div id="header">
            <div class="description content-center">
                <h1><a href="/daohang/" title="{{ page.default_motto }}" target="_self">{{ page.default_name }}</a></h1>
            </div>

            <div class="navigation">   
                <div class="content-center">   
                    {% include default_nav_linkers.html %}
                </div>
            </div>           
        </div>

        <div id="main" class="content-center clearfix">
            <div class="sider">
                <div class="box">

                </div>
                <div class="box text-center">
                    {% include ads_full_200_200.html %}
                </div>
            </div>            

            <div class="content">
                {{ content }}
            </div>
        </div>

        {% include default_footer.html %}

    </body>
</html>
