---
default_name: Blogsoso
default_motto: 精心，精业，精品
default_domain: blogsoso.com
default_author: happy
default_desc: 个人站长、企业网站推广、网络推广、SEO、IT技术、互联网资讯、网络营销、企业博客、博客大全！
default_theme: default
default_keywords: 个人站长、企业网站推广、网络推广、SEO、IT技术、互联网资讯、网络营销、企业博客、博客大全
assets_version: 2012011510
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% if page.title != null %}
        <title>{{page.title}} | {{ page.default_desc }} - {{ page.default_author }}</title>
        {% else %}
        <title>{{ page.default_desc }} - {{ page.default_author }}</title>
        {% endif %}
        
        <link rel="stylesheet" href="/stylesheets/share.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        
        {% if page.theme != null %}
            <link rel="stylesheet" href="/stylesheets/themes/{{ page.theme }}/style.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% else %}
            <link rel="stylesheet" href="/stylesheets/themes/{{ page.default_theme }}/style.css?version={{ page.assets_version }}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}
        
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/share.js?version={{ page.assets_version }}"></script>
        
        {% if page.desc != null %}
            <meta name="description" content="{{ page.desc }}" /> 
        {% else %}
            <meta name="description" content="{{ page.default_desc }}" /> 
        {% endif %}
        
        {% if page.keywords != null %}
            <meta name="keywords" content="{{ page.keywords }}" /> 
        {% else %}
            <meta name="keywords" content="{{ page.default_keywords }}" /> 
        {% endif %}
    </head>
    <body>
        <div id="header">
            <div class="description content-center">
                <h1><a href="{{ site.base-url }}" title="{{ page.default_motto }}">{{ page.default_name }}</a></h1>
                <h2>
                    <a href="{{ site.base-url }}" title="{{ page.default_motto }}">{{ page.default_motto }}</a>
                </h2>
            </div>
            
            <div class="navigation">   
                <div class="content-center">   
                    <a href="{{ site.base-url }}">首页</a>
                    {% include default_nav_linkers.html %}
                </div>
            </div>           
        </div>

        <div id="main" class="content-center clearfix">
            <div class="sider">
                <div class="box">
                    <h3>文章分类</h3>
                    <ul>
                        {% for category in site.categories %}
                        <li><a href="/{{category | first}}/">{{category | first}} ({{category | last | size }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box text-center">
                    {% include ads_full_200_200.html %}
                </div>
            </div>            
            
            <div class="content">
                {{ content }}
            </div>
        </div>
        
        {% include default_footer.html %}

    </body>
</html>
